/* verder: #14b8a6 ; azul: #06b6d4*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubunto", Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
body{
  background: linear-gradient(180deg, #14b8a6 0%, #06b6d4 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: rgba(10, 19, 27, 0.331);
  width: 90%;
  min-width: 350px;
  max-width: 400px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.titulo{
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}
.search-container {
  display: flex;
  margin-bottom: 20px;
}
.search-container input{
  padding: 10px;
  color: rgb(73, 72, 76);
  flex: 1;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0,0,0,0.24) 0px 1px 3px;
  flex-wrap: wrap;
}
.search-container button{
  padding: 10px;
  background-color: #14b8a6;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  min-width: 50px;
  cursor: pointer;
}
.search-container button:hover{
  background-color: #1aceb9;
  transition: 300ms;

}

#response{
  padding-top: 25px;
  text-align: center;
}

#temparature{
  font-size: 62px;
  margin: 15px 0;
}

#description {
  text-transform: capitalize;
}

.details-container{
  margin: 15px 0;
}

#humidity{
  border-right: aliceblue 1px solid;
  margin: 0.6rem;
  padding: 0.6rem;
}

.hide{
  display: none;
}